@import "tailwindcss";

@theme {
    --color-coffee-foam: #fff7e8;
    --color-coffee-crema: #cfab71;
    --color-coffee-roast: #7f5e35;
    --color-coffee-espresso: #713105;
    --color-coffee-grounds: #4f351c;
    --color-coffee-noir: #341100;
}
