name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup pnpm
        uses: pnpm/action-setup@v4

      - name: setup node 24.x
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm

      - name: install dependencies
        shell: bash
        run: pnpm install --frozen-lockfile

      - name: build app
        shell: bash
        run: pnpm run build
